<div class="table-responsive">
			<table class="table table-hover"
				id="tableMarks">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{marks.id}">id</th>
						<th th:text="#{marks.descripcion}">Descripción</th>
						<th th:text="#{marks.puntuacion}">Puntuación</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mark : ${markList}">
						<td th:text="${mark.id}">1</td>
						<td th:text="${mark.description}">Ejercicio 1</td>
						<td th:text="${mark.score}">10</td>
						<td><a th:href="${'/mark/details/' + mark.id}">detalles</a></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/mark/edit/' + mark.id}">modificar</a>
							<div sec:authorize="hasRole('ROLE_STUDENT')">
								<div th:if="${mark.resend}">
									<button type="button" th:id="${'resendButton' + mark.id}"
										class="btn btn-info">Reenviar</button>
									<script th:inline="javascript">
										$("#resendButton[[${mark.id}]]").click(function() {
											$.get("/mark/[[${mark.id}]]/noresend",function(data) {
												$("#tableMarks").load('/mark/list/update');
												});
											});
									</script>
								</div>
								<div th:unless="${mark.resend}">
									<button type="button" th:id="${'noresendButton' + mark.id}"
										class="btn btn-default">No reenviar</button>
									<script th:inline="javascript">
										$("#noresendButton[[${mark.id}]]").click(function() {
											$.get("/mark/[[${mark.id}]]/resend",function(data) {
												$("#tableMarks").load('/mark/list/update');
												});
											});
									</script>
								</div>
							</div></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/mark/delete/' + mark.id}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	<footer th:replace="fragments/pagination" />